
.description {
    width: 100%;
    height: auto;
    padding: 20px 20px;
    color: #8396BC;
    font-family: GreyCliff-Medium;
    font-size: 1.05rem;
    line-height: 1.6rem;
}

.description a {
    padding: 7px 20px;
    border: 2px solid #8396BC;
    text-decoration: none;
    text-transform: uppercase;
    color: #8396BC;
    margin-left: 10px;  
}

.description a:hover {
    color: #4EC4B8;
}