* {
    box-sizing: border-box;
}

body {
    background-color: #0F172A;
}

#mousepointer {
    width: 100px;
    height: 100px;
    position: fixed;
    box-shadow: -40px 1px 187px 10px rgba(255,255,255,0.44);
    -webkit-box-shadow: -40px 1px 187px 10px rgba(255,255,255,0.44);
    -moz-box-shadow: -40px 1px 187px 10px rgba(255,255,255,0.44);
    background: transparent;
}

main {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    color: #CBD7ED;
    
}

section {
    display: inline-block;
    width: 50%;
    height: 100vh;
    
}

main > section:first-child {
    position: fixed;
    /* background: red; */
    padding: 5rem 0 5rem 14rem;
    overflow: hidden;
}

main > section:nth-child(2) {
    position: absolute;
    right: 0px;
    padding: 5rem 0;
    font-family: GreyCliff-Regular;
    z-index: 1;
    /* background: green; */
}

main > section:first-child .contact {
    position: absolute;
    bottom: 130px;
    left: 14rem;
}

.fixed-container {
    width: auto;
    height: 100vh;
    position: fixed;
    z-index: 0;
}
