* {
    box-sizing: border-box;
}

body {
    background-color: #0F172A;
}

#mousepointer {
    width: 70px;
    height: 70px;
    position: fixed;
    border-radius: 35px;
    box-shadow: -40px 1px 187px 10px rgba(255,255,255,0.44);
    -webkit-box-shadow: -40px 1px 187px 10px rgba(255,255,255,0.44);
    -moz-box-shadow: -40px 1px 187px 10px rgba(255,255,255,0.44);
    background: rgba(255,255,255,0.042);
}

main {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    color: #CBD7ED;
    
}

section {
    display: inline-block;
    width: 50%;
    height: 100vh;
    
}

main > section:first-child {
    position: fixed;
    /* background: red; */
    padding: 5rem 0 5rem 12rem;
    overflow: hidden;
}

main > section:nth-child(2) {
    position: absolute;
    right: 5rem;
    padding: 5rem 0;
    font-family: GreyCliff-Regular;
    z-index: 1;
    /* background: green; */
}

main > section:first-child .contact {
    position: absolute;
    bottom: 130px;
    left: 14rem;
}

.fixed-container {
    width: auto;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

/*BREAKPOINT FOR 1500px and Below*/
@media only screen and (max-width: 1500px) {
    main > section:first-child {
        position: fixed;
        /* background: red; */
        padding: 5rem 0 5rem 2rem;
        overflow: hidden;
    }

    main > section:first-child .contact {
        position: absolute;
        bottom: 130px;
        left: 2rem;
    }

    main > section:nth-child(2) {
        position: absolute;
        right: 2rem;
        padding: 5rem 0;
        font-family: GreyCliff-Regular;
        z-index: 1;
        /* background: green; */
    }

    main section .experience {
        width: 100%;
    }

    section .paragraph {
        max-width: 100%;
    }

    section .tool {
        max-width: 100%;
    }
}

/*BREAKPOINT FOR 900px and BELOW*/
@media only screen and (max-width: 950px) {
    #root  main {
        display: block;
    }

    #mousepointer {
        display: none;
    }
    
    /*FIRST COLUMN*/
    main > section:first-child {
        position: static;
        /* background: red; */  
        padding: 0;
        height: 250px;
        width: 100%;
        padding-top: 15px;
    }

    main > section:first-child .name,
    main > section:first-child .title,
    main > section:first-child .description {
        text-align: center;
        width: 100% !important;
    }

    main > section:first-child .navigation {
        display: none;
    }

    main > section:first-child .contact {
        position: static;
        margin: 0 auto;
        width: 150px;
        display: block;
    }


    /*SECOND COLUMN*/

    main > section:nth-child(2) {
        display: block;
        position: relative;
        right: 0;
        width: 100%;
        padding-top: 15px;
        /* background: green; */
    }

    main {
        display: flex;
        flex-direction: column;
        max-width: 950px;
        min-width: 300px;
        width: 100%;
    }

    .description > p > a {
        display: block;
        margin: 0;
        text-align: center;
    }

}
