
.section-heading {
    display: block;
    height: auto;
    width: 100%;
    max-width: 75%;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 70px;
}

.section-heading a {
    position: relative;
    text-decoration: none;
    color: #CBD7ED;
}
    

.section-heading a:hover::after {
    top: -10px;
    right: -40px;
    transition-duration: 0.5s;
}