
.section-heading {
    display: block;
    height: auto;
    width: 100%;
    max-width: 75%;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 70px;
}

.section-heading span {
    position: relative;
    text-decoration: none;
    color: #CBD7ED;
}
